body{
    font-size: 19px;
    display:flex;
    background-color:black;
    color:white;

}
table{
    width:90px;
    margin:30px auto;
    border-collapse:collapse;
    text-align:left;
    margin-top:80px;
}
tr{
    border-bottom:1px solid #cbcbcb;
    width:30px;
}
th,td{
    border:none;
    height:30px;
    padding:20px;
}
tr:hover{
    background: #f5f5f5;
}
form{
    width:45%;
    margin:50px auto;
    text-align:left;
    padding:20px;
    border-radius:15px;
    border:none;
    box-shadow:2px 0px 2px 0px;
    margin-top:80px;
}
.input-group{
    margin:10px 0px 10px 0px;
 
}
.input-group label{
    display:block;
    text-align:left;
    margin:3px;
}
.input-group input{
    height:30px;
    width:93%;
    padding:5px 10px;
    font-size:16px;
    border-radius:15px;
    border:1px solid gray;
}
.btn{
    padding:10px;
    font-size:15px;
    color:white;
    background:#5F9EA0;
    border:none;
    border-radius:10px;
}
.msg{
    margin: 5px auto;
    padding: 2px;
    color:#3c763d;
    background-color: #dff0d8;
    border:none;
    width:20%;
    height:30px;
    text-align:center;
    margin-left:70%;
    position:absolute;
    
}
h1{
    position:absolute;
    margin-left:50%;
    
}
.del-btn{
    text-decoration:none;
    padding:2px 5px;
    color:white;
    border-radius:3px;
    background: #800000;
}
.edit-btn{
    text-decoration:none;
    padding:2px 5px;
    color:white;
    border-radius:3px;
    background: #2E8B57;
}
.button{
    position:absolute;
    margin-top:30%;
}